@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400&family=Reem+Kufi&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.montserrat {
  font-family: Montserrat;
}

.lobster {
  font-family: Lobster;
}

.yellowtail {
  font-family: "Yellowtail";
}

.reemkufi {
  font-family: "Reem kufi";
}

.weight400 {
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

.p15 {
  font-size: 1.4em;
}

.bodycont {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  background: linear-gradient(165deg, #00bb5e 0%, #00bb9a 100%);
  top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .bodycont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    height: 100vh;
  }
}

.static {
  position: relative;
  height: 90vh;
  margin: auto;
  background-color: #fff;
  width: 90%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.5);
  color: #333;
  max-width: 512px;
}

.static h1 {
  font-size: 2em;
}

.static p {
  font-size: 1.2em;
}

@media screen and (min-width: 576px) and (orientation: portrait) {
  .static p {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  .static {
    max-width: 768px;
  }
  .static h1 {
    font-size: 3em;
  }
  .static p {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .static {
    width: 40%;
    max-width: 40%;
    margin: auto 0;
  }
  .static h1 {
    font-size: 1.8em;
  }
  .static p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .static p {
    font-size: 2.2em;
  }
  .static h1 {
    font-size: 3.8em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .static p {
    font-size: 1.35em;
  }
  .static h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1281px) {
  .static p {
    font-size: 1.8em;
  }
  .static h1 {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 1920px) {
  .static {
    max-width: 768px;
  }
  .static p {
    font-size: 2em;
  }
  .static h1 {
    font-size: 3.5em;
  }
}

.staticgrid {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  padding: 5%;
}

.photo > img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.staticgrid > h1 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landinggrid {
  display: none;
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: 10% 40% 40%;
      grid-template-rows: 10% 40% 40%;
  padding: 7% 10%;
  grid-gap: 5%;
}

.landinggrid h1 {
  -webkit-box-shadow: 0px 4px 2px -1px #07a17b7e;
          box-shadow: 0px 4px 2px -1px #07a17b7e;
  background: linear-gradient(145deg, #00bb7d 0%, #0068bb 100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font-size: 2em;
  padding: 2% 7%;
  border-radius: 50px;
}

.landinggrid p {
  display: none;
}

@media screen and (min-width: 768px) {
  .landinggrid p {
    display: block;
  }
}

.landing {
  height: 90vh;
  margin: auto;
  width: 90%;
  background-color: #fff;
  border-radius: 25px;
  -webkit-transition: opacity .7s, -webkit-transform .7s, -webkit-filter .8s;
  transition: opacity .7s, -webkit-transform .7s, -webkit-filter .8s;
  transition: transform .7s, opacity .7s, filter .8s;
  transition: transform .7s, opacity .7s, filter .8s, -webkit-transform .7s, -webkit-filter .8s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.36, 1);
          transition-timing-function: cubic-bezier(0.6, 0, 0.36, 1);
  max-width: 512px;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .landing {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .landing {
    width: 40%;
    max-width: 40%;
    margin: auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .landing h1 {
    font-size: 2em;
  }
  .landing h2 {
    font-size: 1.5em;
  }
  .landing p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1281px) {
  .landing h1 {
    font-size: 2.2em;
  }
  .landing h2 {
    font-size: 1.8em;
  }
  .landing p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1920px) {
  .landing {
    max-width: 768px;
  }
  .landing h1 {
    font-size: 3em;
  }
  .landing h2 {
    font-size: 2em;
  }
  .landing p {
    font-size: 1.5em;
  }
}

.landing-act {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.3;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.cardcont {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding: 0 7%;
  color: #333;
}

.cardcont:hover {
  background-color: transparent;
  color: white;
}

.card {
  padding: 2px;
  background: linear-gradient(170deg, #0097bb 0%, #0068bb 80%, #003fbb 100%);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 10px;
  color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.35);
}

.card:hover {
  -webkit-box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.hidden {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(250%, 0%) scale(1.2);
          transform: translate(250%, 0%) scale(1.2);
  right: 50%;
  height: 90vh;
  max-width: 512px;
  width: 85%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.36, 1);
          transition-timing-function: cubic-bezier(0.6, 0, 0.36, 1);
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.18), 0 11px 15px -7px rgba(0, 0, 0, 0.25);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.18), 0 11px 15px -7px rgba(0, 0, 0, 0.25);
  color: #222;
}

.hidden span {
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .hidden {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .hidden {
    max-width: 40%;
    -webkit-transform: translate(250%, -50%) scale(1.2);
            transform: translate(250%, -50%) scale(1.2);
    right: 25%;
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .hidden h1 {
    font-size: 3em;
  }
  .hidden p, .hidden li {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .hidden {
    max-width: 90%;
  }
  .hidden h1 {
    font-size: 4em;
  }
  .hidden p, .hidden li, .hidden i {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1281px) {
  .hidden h1 {
    font-size: 3.5em;
  }
  .hidden p, .hidden li, .hidden i {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1920px) {
  .hidden {
    max-width: 768px;
  }
  .hidden h1 {
    font-size: 4em;
  }
  .hidden p, .hidden li, .hidden i {
    font-size: 1.8em;
  }
}

.hidden-act {
  -webkit-transform: translate(50%, 5%) scale(1.05);
          transform: translate(50%, 5%) scale(1.05);
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .hidden-act {
    -webkit-transform: translate(50%, -50%) scale(1.05);
            transform: translate(50%, -50%) scale(1.05);
    margin: auto;
  }
}

.hiddengrid {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[6];
      grid-template-columns: repeat(6, minmax(0, 1fr));
  -ms-grid-rows: 15% 10% 55% 20%;
      grid-template-rows: 15% 10% 55% 20%;
  grid-gap: 2%;
  padding: 0;
  text-align: center;
}

.hiddengrid h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hiddengrid p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.hiddengrid ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  list-style: none;
}

.hiddengrid ul:nth-of-type(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.hiddengrid li {
  margin: 2%;
}

.buttoncont {
  position: absolute;
  bottom: 3%;
  right: 2%;
  width: 120px;
  height: 45px;
  cursor: pointer;
}

.buttoncont:hover {
  color: #222;
}

@media (orientation: portrait) {
  .buttoncont {
    right: 5%;
    bottom: 2%;
  }
}

@media screen and (min-width: 768px) {
  .buttoncont {
    width: 150px;
    height: 50px;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .buttoncont {
    border-radius: 80px;
    font-size: 1.3em;
    width: 180px;
    height: 70px;
  }
}

a {
  text-decoration: none;
}

.button {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 1px 18px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 1px 18px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(170deg, #0097bb 0%, #0068bb 80%, #003fbb 100%);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.button p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  transition: .2s;
}

.button p:hover {
  color: #ccc;
}

.icons {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  height: 100%;
}

.icons a {
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  color: #222;
  -webkit-transition: .3s;
  transition: .3s;
}

.icons a:hover {
  color: #ccc;
}
/*# sourceMappingURL=style.css.map */